{% extends 'base.html.twig' %}

{% block title %}Jeu de carte{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="text-center">&hearts;&spades; Card Game  &diams;&clubs;</h2>
            <div class="row">
                {% set hands = app.session.get('PlayerHand') %}
                {% for hand in hands %}
                    <div class="col-md-1 item-card">
                        {{hand[0]}}
                        {{hand[1]}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
