body {
    background: #345;
}

.card-title{ color :white;}

.item-card {
    margin: 20px 10px 20px 10px;
    background: white;
    box-shadow: var(--shadow);
    border-radius: 10px;
    height: 200px;
    position: relative;
}

.item-card .span-left{
    position:absolute;
    top:3px;
    left:3px;
    font-weight: bold;
}
.item-card .span-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.item-card .span-right{
    position:absolute;
    bottom:3px;
    right:3px;
    font-weight: bold;
}

.red{
    color: red;
}
.rose{
    color: red;
}
.gray{
    color : black;
}
.black{
    color : black;
}

div .span-center.Carreaux, div .span-center.Coeur, div .span-center.Pique, div .span-center.Trèfle{
    font-size: 70px;
}
